<ion-content padding>
                <ion-card *ngFor="let case of this.xxx">
                    <ion-card-header><ion-card-title>{{case.name}}</ion-card-title> </ion-card-header>
                    <ion-card-content>
                      <h5>Home Addess{{case.homeAddress}}</h5>
                      <h5>Current Location: {{case.location[0] }}, {{case.location[1]}}</h5>
                      <h5>Chronic Illness{{case.chronicIllness}}</h5>
                      <h5>Next of kin phone{{case.nextOfKin}}</h5>
                      <h5>Home Addess{{case.email}}</h5>
                    </ion-card-content>      
                </ion-card>
</ion-content>

<ion-button (click)="getReportedCases()">Load Cases</ion-button>