<section>
  <header>Rapid Responses</header>

  <ion-button (click)="callNow('R')">Rape</ion-button>
   <ion-button (click)="callNow('M')">Ambulance</ion-button>
  <ion-button (click)="callNow()">Child Care</ion-button>   
  <ion-button (click)="callNow()">Road Accident</ion-button>

  <ion-button (click)="callNow()">Theft</ion-button>
  <ion-button (click)="callNow()">Medical</ion-button>
  <ion-button (click)="callNow()">Suicide</ion-button>
</section>

<section>
  <header>Faults and Hazards </header>

  <ion-button (click)="callNow()">Fire Hazard</ion-button>
  <ion-button (click)="callNow()">Natural Disaster</ion-button>
  <ion-button (click)="callNow()">Water Leakage</ion-button>
  <ion-button (click)="callNow()">Electric Fault</ion-button>
  <ion-button (click)="callNow()">Explosions</ion-button>
</section>

<section>
  <header>Others</header>
  
  <ion-button (click)="callNow()">General Police</ion-button>
  <ion-button (click)="callNow()">Counselling</ion-button>
  <ion-button (click)="callNow()">Terrorism</ion-button>
</section>
