<section>
  <header>Rapid Responses</header>

  <ion-button (click)="callNow('1')">Rape</ion-button>
  <ion-button (click)="callNow('0782265726')">Child Care</ion-button>   
  <ion-button (click)="callNow('0774440550')">Road Accident</ion-button>
  <ion-button>Ambulance</ion-button>
  <ion-button>Theft</ion-button>
  <ion-button>Medical</ion-button>
  <ion-button>Suicide</ion-button>
</section>

<section>
  <header>Faults and Hazards </header>

  <ion-button>Fire Hazard</ion-button>
  <ion-button>Natural Disaster</ion-button>
  <ion-button>Water Leakage</ion-button>
  <ion-button>Electric Fault</ion-button>
  <ion-button>Explosions</ion-button>
</section>

<section>
  <header>Others</header>
  
  <ion-button>General Police</ion-button>
  <ion-button>Counselling</ion-button>
  <ion-button>Terrorism</ion-button>
</section>
