<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Calls
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <header>Rapid Responses</header>
    <ion-button>Rape</ion-button>
    <ion-button>Child Care</ion-button>   
    <ion-button>Road Accident</ion-button>
    <ion-button>Ambulance</ion-button>
    <ion-button>Theft</ion-button>
    <ion-button>Medical</ion-button>
    <ion-button>Suicide</ion-button>
  </section>

  <section>
    <header>Faults and Hazards </header>
    <ion-button>Fire Hazard</ion-button>
    <ion-button>Natural Disaster</ion-button>
    <ion-button>Water Leakage</ion-button>
    <ion-button>Electric Fault</ion-button>
    <ion-button>Explosions</ion-button>
  </section>

  <section>
    <header>Others</header>
    <ion-button>General Police</ion-button>
    <ion-button>Counselling</ion-button>
    <ion-button>Terrorism</ion-button>
  </section>

</ion-content>